/*
* Author: Nillsahgor
* URL: http://themeforest.net/user/nillshagor/
*/

/* =============================================================== */
/* Import Section
================================================================ */
@import url("base.css");				
@import url("grid.css");				








/* Images Overlay
==========================*/


.overlay {
	height: 100%;
    left: 0;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 1;
	z-index: 40;
	opacity: 0;
	-moz-opacity: 0;
	filter:alpha(opacity=0);
	-webkit-transition: opacity 180ms ease-in-out;
	-moz-transition: opacity 180ms ease-in-out;
	-o-transition: opacity 180ms ease-in-out;
	transition: opacity 180ms ease-in-out;
}

.overlay.zoom {background: url(../images/overlay.png) no-repeat center center, url(../images/overlay_bg.png) center center;}

.overlay:hover {
	opacity: 1;
	-moz-opacity: 1;
	filter:alpha(opacity=100);
}
