/**
 *
 * pik jQuery Touch Carousel
 * URL: http://www.pikplugins.com
 * Version: 1.0.2
 * Author: pik Plugins
 * Author URL: http://www.pikplugins.com
 *
 */

/**
*	Table of Contents
*	
*	1. Media Queries
*	2. Container Styles
*	3. Carousel Item Styles
*	4. Current Content Styles
*	5. Gradient Overlay Styles
*	6. Navigation Styles
*	7. Preloader Styles
*	8. Other Styles
*/

/**********************************************
*
* 1. Media Queries
*
**********************************************/
@media screen and (-webkit-min-device-pixel-ratio:0) { 
	html {
		margin-left: 1px;
	}
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
	.pik-carousel .sc-overlay {
		width: 88px !important;
	}
}

@media only screen and (max-width: 479px) {
	.pik-carousel .sc-overlay {
		width: 15px !important;
	}
	
	.pik-carousel .sc-nav-button.sc-next {
		right: 5px !important;
	}
	
	.pik-carousel .sc-nav-button.sc-prev {
		left: 5px !important;
	}
}

/**********************************************
*
* 2. Container Styles
*
**********************************************/
.js .pik-carousel {
	visibility: hidden;
}

.pik-carousel {
	width: 100%;
	height: 450px;
	position: relative;
	border: 1px solid #dbdbdb;
	background: transparent;
	overflow: hidden;
	margin: 0 auto;
}

.pik-carousel .pik-carousel-container {
	position: relative;
	list-style-type: none;
	float: left;
	margin: 0;
	padding: 0;
}

/**********************************************
*
* 3. Carousel Item Styles
*
**********************************************/
.pik-carousel .pik-carousel-container li {
	position: absolute;
}

.pik-carousel .pik-carousel-container li img {
	display: block;
	max-width: none !important;

	border: 5px solid #000;
}

.pik-carousel .pik-carousel-container li a img {
	border: none;
}

.pik-carousel .pik-carousel-container .sc-content {
	display: none;
}
.pik-carousel .pik-carousel-container .sc-author {
	display: none;
	margin-top: 10px;
}

.pik-carousel .pik-carousel-container .sc-selected .sc-author {
	display: block;
}

/**********************************************
*
* 4. Current Content Styles
*
**********************************************/
.pik-carousel .sc-content-wrapper {
	position: absolute;
	text-align: center;
	top: 6%;
	left: 50%;
	z-index: 4999;
}

.pik-carousel .sc-content-container {
	position: relative;
	left: -50%;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	padding: 0;
}

.pik-carousel .sc-content-wrapper .sc-content-container .sc-content {
	background-color: rgba(0,0,0,0.5);
	padding: 14px;
	min-width: 300px;
}

.pik-carousel .sc-content-wrapper .sc-content-container:after {
	position: absolute;
	display: block;
	content: "";
	border: solid 10px transparent;
	border-top: solid 10px rgba(0,0,0,0.5);
	width: 0;
	height: 0;
	left: 50%;
	margin-left: -10px;
}

.pik-carousel .sc-content-wrapper h2 {
	color: #fff;
	font-weight: bold;
	font-size: 18px;
	line-height: 18px;
	margin: 0;
	padding: 0;
	text-shadow: 0px 1px 1px #333;
}

.pik-carousel .sc-content-wrapper p {
	color: #d6d6d6;
	font-size: 12px;
	margin: 0;
	padding: 0;
	text-shadow: 0px 1px 1px #333;
}

.pik-carousel .sc-content-wrapper a {
	text-decoration: none;
	color: #d6d6d6;
	border-bottom: 1px dotted #d6d6d6;
}

.sc-author {
    text-align: center;
}
/**********************************************
*
* 5. Gradient Overlay Styles
*
**********************************************/
.pik-carousel .sc-overlay {
	position: absolute;
	height: 100%;
	z-index: 4998;
	pointer-events: none;
	top: 0;
}

.pik-carousel .sc-overlay-left {
	left: -0.1px;
}

.pik-carousel .sc-overlay-right {
	right: -0.1px;
}

/**********************************************
*
* 6. Navigation Styles
*
**********************************************/
.pik-carousel .sc-nav-button {
	position: absolute;
	top: 50%;
	z-index: 5000;
	width: 40px;
	height: 40px;
	margin-top: -50px;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
}

.pik-carousel .sc-nav-button.sc-next {
	background: url("../images/sc-graphics/tooltip_skin_navigation.png") no-repeat -42px 0px;
	right: 15px;
}

.no-touch .pik-carousel .sc-nav-button.sc-next:hover {
	background: url("../images/sc-graphics/tooltip_skin_navigation.png") no-repeat -42px -41px;
}

.pik-carousel .sc-nav-button.sc-prev {
	background: url("../images/sc-graphics/tooltip_skin_navigation.png") no-repeat 0px 0px;	
	left: 15px;
}

.no-touch .pik-carousel .sc-nav-button.sc-prev:hover {
	background: url("../images/sc-graphics/tooltip_skin_navigation.png") no-repeat 0px -41px;
}

/**********************************************
*
* 7. Preloader Styles
*
**********************************************/
.pik-carousel .sc-preloader {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 24px;
	height: 24px;
	margin-top: -22px;
	margin-left: -22px;
	background: #ebebeb url("../images/sc-graphics/preloader.gif") no-repeat 50% 50%;
	padding: 10px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

/**********************************************
*
* 8. Other Styles
*
**********************************************/
.sc-no-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}